/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   Licença: nenhuma (domínio público)
*/

HTML ,
corpo ,
divisão ,
período ,
miniaplicativo ,
objeto ,
iframe ,
h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 ,
p ,
bloco de citação ,
pré ,
a ,
abre ,
sigla ,
endereço ,
grande ,
citar ,
código ,
do ,
dfn
em,
imagem ,
dentro ,
kbd ,
q ,
é ,
amostra ,
pequeno ,
batida ,
forte ,
sub ,
e aí ,
tt ,
era ,
b ,
em ,
eu ,
Centro ,
dl ,
dt ,
dd ,
olá ,
você ,
que ,
conjunto de campos ,
forma ,
rótulo ,
lenda ,
mesa ,
legenda ,
corpo ,
pé ,
cabeça ,
tr ,
º ,
td ,
artigo ,
aparte ,
tela ,
detalhes ,
Embutir ,
figura ,
figcaption ,
rodapé ,
cabeçalho ,
hgrupo ,
cardápio ,
não são ,
saída ,
rubi ,
seção ,
resumo ,
tempo ,
marca ,
áudio ,
vídeo {
    margem :  0 ;
    preenchimento :  0 ;
    borda :  0 ;
    tamanho da fonte :  100 % ;
    fonte : herdar;
    alinhamento vertical : linha de base;
}

/* Redefinição da função de exibição HTML5 para navegadores mais antigos */
artigo ,
aparte ,
detalhes ,
figcaption ,
figura ,
rodapé ,
cabeçalho ,
hgrupo ,
cardápio ,
não são ,
seção {
    exibição : bloco;
}

corpo {
    altura da linha :  1 ;
}

olá ,
você {
    estilo de lista : nenhum;
}

bloco de citação ,
q {
    aspas : nenhuma;
}

citação em bloco : antes ,
citação em bloco : depois ,
q : antes ,
q : depois de {
    contente :  '' ;
    conteúdo : nenhum;
}

mesa {
    colapso da fronteira : colapso;
    espaçamento de borda :  0 ;
}